# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs
.idea/
*.iml
*.ipr
*.iws

# VS Code (optional — uncomment to ignore your personal configs)
# .vscode/

# Flutter/Dart
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/
generated_plugin_registrant.dart

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/.dart_tool/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties

# Web
web/.dart_tool/
web/build/

# macOS
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/.symlinks/

# Windows
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc

# Linux
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.cc

# Obfuscation and Symbolication
app.*.symbols
app.*.map.json

# Generated docs
doc/api/

# Others
*.orig
*.lock
